body {
    font-family: $font-base;
    padding: 0 12px 30px;
    @media only screen and (min-width: 480px) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li:not(:last-child),
p {
    margin: 9px 0;
}

p,
li {
    line-height: 1.2;
    @media print {
        line-height: 1;
    }
}

a {
    text-decoration: none;
    @media screen {
        section & {
            border-bottom: 1px dotted;
        }
    }
}

strong {
    font-weight: 600;
}